---
import Cards from "./Cards.astro";

type Product = {
  id: number;
  name: string;
  price: number;
  image: string;
};

const url = "https://dxovplvdzgxfcdujfcov.supabase.co/rest/v1/bareen-glyp";
const key = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImR4b3ZwbHZkemd4ZmNkdWpmY292Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDQzNTUxNTcsImV4cCI6MjA1OTkzMTE1N30.Qp7F7TSekQcPIw8qAb2a2sBR2XEIvPOlI2kscNH3YB4";

const options = {
  headers: {
    apikey: key,
  },
};

let data: Product[] = [];
try {
  const request = await fetch(url, options);
  data = await request.json();
} catch (error) {
  console.error("Error fetching data:", error);
}
---

<div class="collection">
  <div class="header">
    <h1>Collection</h1>
    <p>Udforsk vores unikke streetwear inspireret af kunst</p>
  </div>
  <div class="products">
    {
      data.map((product: Product) => {
        return <Cards data={product} />;
      })
    }
  </div>
</div>

<style>
  .product {
    display: grid;
    padding: 2rem;
  }

  .header {
    height: 125px;
    width: 100%;
    margin: 0 auto;
  }
  .collection {
    margin: 6rem auto;
  }
  h1,
  p {
    text-align: center;
  }
</style>
