<section class="hero">
  <div class="hero-overlay"></div>
  <div class="hero-content">
    <h1>
      <span class="bareen">bareen</span>
      <span class="separator">|</span>
      <span class="glyptoteket">Glyptoteket</span>
    </h1>
  </div>
</section>

<style>
  .hero {
    background-image: url("../assets/bareenbanner.png");
    background-size: cover;
    background-position: center;
    height: 80vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-top: -4rem;
  }

  @media (max-width: 800px) {
    .hero {
      background-image: url("../assets/bareenbanner-mobil.webp");
    }
  }

  .hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
  }

  .hero-content {
    position: relative;
    z-index: 2;
    text-align: center;
  }

  h1 {
    font-size: clamp(2.5rem, 4vw, 4rem);
    font-weight: 500;
    letter-spacing: 0.02em;
  }

  .bareen {
    font-weight: 1000;
    font-style: bold;
    font-style: italic;
    letter-spacing: -0.1rem;
  }

  .glyptoteket {
    font-weight: 300;
  }

  .separator {
    margin: 0 0.1rem;
    opacity: 0.8;
    font-weight: 100;
  }
</style>
